language: go

sudo: false

go:
  - "1.12.x"
  - "1.13.x"

before_install:
  - "curl -sfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.21.0"

install:
  - echo -e "Host heroku.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
  - echo -e "Host github.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config

script:
  - export PATH=$(go env GOPATH)/bin:$PATH
  - export GO111MODULE=on
  - go mod download
  - golangci-lint run
  - go test -v -covermode atomic -race -timeout 70s -cpu 4 -parallel 8 -coverprofile ./coverage.out $(go list ./...)
  - "! go tool cover -func coverage.out | grep -v 100.0%"

after_script:
  - cat coverage.out

# Because we disable automatic builds for all branches,
# this configuration ensures that master is rebuilt when prs land on it
# and updates status icon on the repo.
branches:
  only:
    - master
